#about-me{
    background-color: #FFFFFF;
    padding:4% 3%;
}
.container-fluid{
    padding: 3% 3%;
}

.heading{
    width: fit-content;
    font-family: 'Oleo Script',cursive;
    font-size: 2.5rem;
}

.text{
    text-align: justify;
    width: 88%;
    font-family: 'Bree serif', serif;
    font-size: 1rem;
}
.sect{
    margin: 3% 0;
}

.sect-spl{
    padding: 1% 4%;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}

.sub-head{
    font-family: 'Bree Serif',serif;
    font-size: 1.2rem;
    width: fit-content;
    margin-bottom: 30px;
}