.banners{
    padding: 5%;
}
#casestudy{
    background-color: #FEF5EF;
}
.headings{
    font-family: 'Bebas Neue',cursive;
    font-size: 3rem;
    color:#9D5C63;
    width: fit-content;
    margin-left: 10%;
}

.description{
    margin-left: 10%;;
    width: 80%;
    text-align: justify;
    font-family: 'Bree Serif',serif;
    font-size: 1rem;
    color: #584B53;

}

.sub-headings{
    font-family: 'Bebas Neue',cursive;
    font-size: 2rem;
    color:#9D5C63;
    width: fit-content;
    margin-left: 10%;
}
.part{
    margin: 7% 0;
}

.type-block{
    margin: 7% 0;
}

.part2{
    padding-top: 20%;
}

@media screen and (max-width:768px)
{
    .headings{
        font-size: 2rem;
        text-align: justify;
    }
    .description{
        font-size: 0.8rem;
    }

}

.full-img{
    width: 100%;
}

.description a{
    color: rgb(98, 30, 255);
}
.ideation-img{
    margin-top: 10%;
}


.carousel-img{
    height: 400px;
    width: auto;
}

.para{
    margin-top: 20%;
}

@media screen and (max-width:768px){
    .para{
        margin-top: 0;
    }
}

.spl-heading{
    width:200%;
    text-align: left;
}

.head{
    margin-left: 4%;
}


@media screen and (max-width:768px){
    .head{
        margin-left: 11%;
    }
    .spl-heading{
        width:fit-content;
    }
}

.usability-img{
    margin-top: 20%;
}

@media screen and (min-width:768px) and (max-width:1189px){
    .usability-img{
        margin-top: 60%;
    }
}

@media screen and (max-width:768px)
{
    .mockup-img{
        height: 200px;
        width: auto;
    }
}
.frames{
    width: 100%;
    height: 300px;
}

.arrow-icon{
    float: right;
}
.link{
    text-align: right;
    margin-right: 30px;
    color:#584B53;
    font-family: 'Bree Serif',serif;
    text-decoration: none;
}

.container-fluid{
    background-color:#D6E3F8 ;
    padding: 2%;
}

.custom-carousel{
    width: 80%;
    height: auto;
}

.usability-img-spl{
    margin-top: 15%;
}

.mockup-img-l{
    height: 300px;
    width: auto;
}

.xrs{
    height:400px;
    width: auto;
}