body{
    text-align: center;
}
/* navbar section  */
.nav-logo{
    width: 60% ;
    height: auto;
    padding: 4%;
    margin-left: 13%;
}

@media screen and (max-width: 739px) {
    .nav-logo{
        width: 100px;
        height: auto;
        padding: 0;
        margin: 0 0 0 35px;
    }
}

.nav-link{
    padding: 012px;
    margin-right: 45px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.78rem;
    color:#584B53;
}

.navbar-toggler{
    margin-right: 40px;
    color: #584B53;
}

.navbar{
    background-color: #FEF5EF;
}

.navbar-collapse{
    text-align: left;
    margin-left: 10%;
}

/* banner section  */
#banner{
    background-color: #FEF5EF;
}

.my-info{
    padding: 5% 3%;
}

.banner-img{
    position: relative;
    width: 100%;
    height: auto;
    top:15%;
}

@media screen and (max-width: 768px) {
    .banner-img{
        padding: 2% 0;
        top:5%;
    }
}
.level-1-text{
    font-family: 'Oleo Script',cursive;
    font-size: 5rem;
    color: #584B53;
    line-height: 1.2;
}

.subheading{
    font-family: 'Bree Serif',serif;
    font-size: 1rem;
    line-height: 1;
}

/* skills section  */

#skills{
    padding: 5% 5%;
    background-color: #9D5C63;
}

.level-2-heading{
    color:#D6E3F8;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.skill-1{
    width:70%;
    text-align: left;
    padding: 7% 3%;
}

.desc-skill{
    margin-left: 35%;
}

.descriptions{
    padding: 0 1%;
}

.skills-img{
    border-radius: 100%;
    width:30%;
    float: left;
}

@media screen and (max-width:768px)
{
    .skills-img{
        float: none;
        text-align: center;
    }
    .desc-skill{
        margin: 0;
        padding: 0;
    }
    .skill-1{
        width: 100%;
        text-align: center;
    }
    .descriptions{
        padding: 0 4%;
    }
}
/* footer section  */
#footer{
    background-color: #584B53;
    padding: 5% 5% 2% 5%;
}

.footer-text{
    color:#FEF5EF;
}

.footer-brands{
    font-family:'Bebas Neue', cursive ;
    color:#FEF5EF;
    font-size: 2rem;
}

.footer-icons{
    padding: 3% 0;
}
.social-sites{
    color:#D6E3F8;
    padding: 0 1.5%;
}

.fa-brands{
    transition-duration: 0.3s;
}

.fa-brands:hover{
    transform: scale(1.2);
    color:#FEF5EF;
}
/* design templates 
    colors used
    #FEF5EF
    #E4BB97
    #D6E3F8
    #9D5C63
    #584B53

    Fonts:
    1. Bebas Neue
    2.
    3.
*/

